{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for item in items %}
                <div class="col">
                    <div class="card shadow-sm">
                        <figure class="mb-4"><img class="img-fluid" src="{{ asset('uploads/' ~ item.image) }}" width="100%" height="100" alt=""></figure>
                        <div class="card-body">
                            <p class="card-text fw-semibold">{{ item.name }}</p>
                            <div class="row">
                                    {% apply markdown_to_html %}
                                        {{ item.description }}
                                    {% endapply %}
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{{ path("app_items", { "id" : item.id }) }}">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
